<launch>



  <!-- ##### Launch the pi cam to publish images and camera info ##### -->
  <node name="antopicam" pkg="antobot_picam" type="antopicam_publish_two.py" output="screen" />

  <!-- ##### Launch the apriltag detector ##### -->
  <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="launch_prefix" default="" />
  <arg name="queue_size" default="1" />

  <!-- configure camera input -->
  <arg name="camera_name1" default="/antobot/picam1" />
  <arg name="image_topic1" default="image_rect" />
  
  <node ns="/antobot/picam1" name="image_proc" pkg="image_proc" type="image_proc"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_picam1" args="0.678 -0.07 0.358  -1.18 0  -1.5708 base_link picam1" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_picam2" args="0.678 0.07 0.358 -1.96 0 -1.5708 base_link picam2" />

  <!-- apriltag_ros continuous detection node -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_continuous_node1" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name1)/$(arg image_topic1)" />
    <remap from="camera_info" to="$(arg camera_name1)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name1)/tag_detections" />

    <param name="publish_tag_detections_image" type="bool" value="false" /><!-- default: false -->
    <param name="queue_size" type="int" value="$(arg queue_size)" />
    <param name="approximate_sync" type="bool" value="true" />

    <!-- load parameters (incl. tag family, tags, etc.) -->
    <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml"/>
    <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml"/>
  </node>

    <!-- configure camera input -->
  <arg name="camera_name2" default="/antobot/picam2" />
  <arg name="image_topic2" default="image_rect" />

  <node ns="/antobot/picam2" name="image_proc" pkg="image_proc" type="image_proc"/>

  <!-- apriltag_ros continuous detection node -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_continuous_node2" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name2)/$(arg image_topic2)" />
    <remap from="camera_info" to="$(arg camera_name2)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name2)/tag_detections" />

    <param name="publish_tag_detections_image" type="bool" value="false" /><!-- default: false -->
    <param name="queue_size" type="int" value="$(arg queue_size)" />
    <param name="approximate_sync" type="bool" value="true" />

    <!-- load parameters (incl. tag family, tags, etc.) -->
    <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml"/>
    <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml"/>
  </node>
</launch>

